.body1 {
    background-color: #FEE600;
}

.titulo {
    margin-top: 35px;
    margin-left: 20px;
}


header  {
   font-weight: bold;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #29072F;
   height: 100px;
   padding: 5px;
   margin-top: -10px;
   margin-left: px;
   margin: -10px;
   border-color: black;

}

.logo {
    height: 60px;
    margin-left: 1350px;
    margin-top: -100px;
    border-radius: 25px;
}

.textoprincipal {
    float: left; /* Faz com que o texto flutue à esquerda */
    width: 70%; /* Ajusta a largura do texto principal */
    margin-right: 20px; 
    font-size: 100px;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
   
}

.abelhaestudante {
    float: right; /* Faz com que a imagem flutue à direita */
    width: 30%; 
    margin-top: -350px;

}

.textodebaixo {
    float: left; /* Faz com que o texto flutue à esquerda */
    width: 45%; /* Ajusta a largura do texto principal */
    margin-right: 100px; 
    font-size: 35px;
    margin-top: -10px;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.botao1 {
    float: left; /* Faz com que a imagem flutue à direita */
    width: 15%; 
    margin-left: -450px;
    justify-content: left;
    margin: 25px;
    padding: 20px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-weight: bold;
    font-size: medium;
}

.body2 {
    background-color: black;
}

.body3 {
    background-color: #29072F;
}

.body4 {
    background-color: #FEE600;
}

.body5 {
    background-color: #FEE600;
}

.abelhaestudante1 {
    float: right; /* Faz com que a imagem flutue à direita */
    width: 30%; 
    margin-top: 45px;
}

.parabens {
    float: left; /* Faz com que o texto flutue à esquerda */
    width: 50%; /* Ajusta a largura do texto principal */
    font-size: 100px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.abelhaestudante2 {
    float: right; /* Faz com que a imagem flutue à direita */
    width: 30%; 
    margin-top: 45px;
}

.ohnao {
    float: left; /* Faz com que o texto flutue à esquerda */
    width: 50%; /* Ajusta a largura do texto principal */
    font-size: 90px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao2 {
    float: left; /* Faz com que a imagem flutue à direita */
    width: 15%; 
    margin-left: -450px;
    justify-content: left;
    margin: 45px;
    margin-top: -40px;
    padding: 20px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-weight: bold;
    font-size: medium;
}

.pergunta {
    color: white;
    display: flex;
    justify-content: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botaotrue {
    background-color: #FEE600;
    float: left;
    margin: 100px;
    padding: 100px;
    border-radius: 10px;
    
}

.botaofalse {
    background-color: #FEE600;
    float: right;
    margin: 100px;
    padding: 130px;
    height: 10px;
    margin-left: 40px;
    border-radius: 10px;
}

.botoes {
    justify-content: space-between;
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header1 {
    font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FEE600;
    height: 100px;
    padding: 5px;
    margin-top: -10px;
    margin-left: px;
    margin: -10px;
    border-color: black;
 
}

/* Adicione ao seu arquivo styles.css */



.h1revisao {
    display: inline-block; /* Faz o elemento h1 comportar-se como um bloco em linha */
    color: #FEE600;
    justify-content: center;
    display: flex;
    height: 100px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.certo1,
.certo2,
.certo3 {
    width: 30px;
    height: 30px;
    margin-left: 90px;
    margin-right: -80px;
}

.html,
.css,
.java {
    display: inline-block; /* Faz os elementos h2 comportarem-se como blocos em linha */
    color: white;
    margin: 5px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ul1,
.ul2,
.ul3 {
    display: inline-block; /* Faz os elementos ul comportarem-se como blocos em linha */
    vertical-align: top; /* Alinha-os ao topo para manter o alinhamento correto */
    margin-left: 20px; /* Adiciona espaço entre as ul e os h2 */
    color: #FEE600;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}


.botao3 {
    width: 15%; 
    display: flex;
    justify-content: center;
    margin-right: -100px;
    margin: 45px;
    margin-top: 15px;
    margin-left: 620px;
    padding: 20px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    font-weight: bold;
    font-size: medium;
}


/*
.certo1 {
    display: flex;
    width: 50px;
    
}

.certo2 {
    display: flex;
    width: 50px;
    justify-content: center;
}

.certo3 {
    display: flex;
    width: 50px;
    justify-content: right;
}


.html {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    justify-content: left;
   float: left;
}

.css {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    display: flexbox;
    justify-content: center;
}

.java {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    display: flexbox;
    justify-content: right;
    float: right;
}

.ul1 {
    color: #FEE600;
   justify-content: left;
   float: left;
   margin: 50px;
}

.ul2 {
    display: flexbox;
    justify-content: center;
    color: #FEE600;
    margin: 100px;
}

.ul3 {
    color: #FEE600;
    display: flexbox;
    justify-content: right;
    float: right;
    margin: 40px;
}

*/





